@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 20 60% 10%;
  --foreground: 0 0% 98%;

  --primary: 120 70% 50%;
  --secondary: 300 70% 50%;
  --accent: 20 80% 30%;
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

.dark {
  --background: 20 60% 10%;
  --foreground: 0 0% 98%;

  --primary: 120 70% 50%;
  --secondary: 300 70% 50%;
  --accent: 20 80% 30%;
}
